# general
.DS_Store
Thumbs.db
~*

# python
*.pyc
__pycache__/

# credentials
_jenkins/secrets/dockerhub_password.txt
_jenkins/secrets/dockerhost_password.txt
_jenkins/secrets/kubeconfig
_jenkins/secrets/dockerhub_secret.yml